@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
/* NAV-BAR */
body {
    background-color: #eaeef5;
}

nav {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
    padding: 2px 10%;
    flex-wrap: wrap;
}

.search-btn {
    padding-left: 5px;
}

.logo {
    font-family: 'Secular One', sans-serif;
    color: rgb(124, 11, 165);
    font-size: 35px;
}

.search-box {
    background: rgba(163, 32, 211, 0.148);
    height: 30px;
    width: 350px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input::placeholder {
    color: rgb(96, 96, 96);
    font-family: 'Ubuntu', sans-serif;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 40px;
}

.itens ul {
    font-size: medium;
    display: flex;
    list-style: none;
    font-weight: bold;
}

    .itens ul a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 1.5rem;
        transform: 2ms ease-in;
        position: relative;
        gap: 7px;
        font-family: 'Ubuntu', sans-serif;
    }

        .itens ul a:before {
            content: ' ';
            bottom: 0px;
            position: absolute;
            left: 0px;
            width: 0px;
            height: 2px;
            background-color: rgb(124, 11, 165);
            transition: all 1.5s ease;
        }

        .itens ul a:hover:before {
            width: 100%;
        }

button {
    padding: 4px 4px 10px 10px;
    width: 165px;
    height: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(145, 31, 186);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
    transition: 400ms linear;
    font-family: 'Merriweather Sans', sans-serif;
}

    button:hover {
        background-color: rgba(124, 11, 165, 0.598);
    }
/* VAGAS */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    display: inline-block;
    border: 1px solid black;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    vertical-align: middle;
    grid-gap: 10px 10px;
    border-radius: 4%;

}
   
h5 {
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

p {
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

a {
    font-family: 'Ubuntu', sans-serif;
}

.btn {
    border-radius: 10%;
}

input {
    border-radius: 10%;
}

